# .htaccess PetiLabo v3
SetEnv PHP_VER 5_6
SetEnv REGISTER_GLOBALS 0

Options +FollowSymlinks
Options -Indexes

RewriteEngine on

# Redirection de la page d'accueil vers index.php
RewriteRule ^$ http://%{HTTP_HOST}%{REQUEST_URI}index.php [L,R=301]
RewriteRule ^/$ http://%{HTTP_HOST}%{REQUEST_URI}index.php [L,R=301]
RewriteRule ^admin$ http://%{HTTP_HOST}%{REQUEST_URI}/index.php [L,R=301]
RewriteRule ^admin/$ http://%{HTTP_HOST}%{REQUEST_URI}index.php [L,R=301]

# Réécriture d'URL pour gérer les noms de page (AJAX exclu)
RewriteCond %{THE_REQUEST} !ajax/.*
RewriteCond %{THE_REQUEST} !admin/.*
RewriteRule ^(.*\.php)$ index.php?p=$1 [QSA,L]

# Réécriture d'URL pour gérer le mode administration
RewriteCond %{THE_REQUEST} admin/.*
RewriteRule ^(.*)/(.*\.php)$ index-admin.php?p=$2 [QSA,L]

# Doublon avec l'ini_set PHP pour les cookies de session
<IfModule php5_module>
	php_value session.cookie_httponly True
</IfModule>

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>