/* CSS thème original */
.page_defaut{width:90%;}
.contenu_defaut{background:#800;}
.bloc_defaut{background:#080;}
.texte_grand{font-size:150%;}
.texte_italique{font-style:italic;}

/* CSS additionnel pour thème standard */
.clearfix:after{content:' ';visibility:hidden;display:block;height:0;clear:both;}
