/* CSS thème original */
.page_defaut{width:90%;}
.contenu_defaut{background:#bbb;}
.contenu_transparent{}
.contenu_alerte{background:#a22;}
.bloc_defaut{margin:10px;padding:10px;background:#ddf;border-radius:10px;}
.bloc_sombre{margin:5px;padding:15px;background:#336;border-radius:10px;}
.texte_grand{font-size:150%;}
.texte_italique{font-style:italic;}
a.survol_attenuation:hover img{opacity:0.8;}
a.survol_zoom:hover img{transform: scale(1.1);}
a.survol_zoom_et_attenuation:hover img{opacity:0.8;transform: scale(1.1);}

/* CSS additionnel pour thème standard */
img{transition:all 0.5s}
.clearfix:after{content:' ';visibility:hidden;display:block;height:0;clear:both;}
