/*
 * CSS PL3
 */
body, div.page, p {position:relative;margin:0;padding:0;}
.contenu{display:flex;flex-wrap:wrap;flex-direction:row;background:#f80;}
.bloc{background:#08f;margin:10px;padding:10px;}
.bloc > div{margin:0;padding:3px;text-align:center;background:#8f8;}
.bloc > div > p, 
.bloc > div > h1, .bloc > div > h2,
.bloc > div > h3, .bloc > div > h4,
.bloc > div > h5, .bloc > div > h6, 
.bloc > div > img {margin:0;padding:1px;border: 3px solid transparent;}

/* Mode administration */
.editeur_objet{position:absolute;background:#fff;border:2px solid #888;padding:1px 5px 3px 5px;}
.editeur_objet_barre_outils{font-family:Sans-Serif;text-align:right;margin:0;padding:0;margin-top:2px;margin-right:-5px;}
.editeur_objet_barre_outils a{background:#888;font-weight:bold;color:#444;text-decoration:none;padding:3px 5px;margin-left:2px;}
.editeur_objet_barre_outils a:hover{background:#444;color:#f00;}
.editeur_objet_titre_attributs, .editeur_objet_titre_xml, .editeur_objet_titre_valeur{font-weight:bold;color:#666;}
.editeur_objet_titre_attributs, .editeur_objet_titre_xml{margin-top:6px;margin-bottom:6px;}
.editeur_objet_titre_valeur{margin-top:0;margin-bottom:6px;}
.editeur_champ_formulaire{margin:3px 0 3px 1em;}
.editeur_champ_formulaire label{display:inline-block;width:70px;font-weight:bold;}
.editeur_objet_valeur, .editeur_objet_ligne_xml{margin-top:3px;margin-bottom:3px;margin-left:1em;}
.editeur_objet input, .editeur_objet textarea{padding:3px;margin-right:3px;}
.editeur_objet input[type="text"]{width:15em;}
.editeur_objet input[type="number"]{width:4em;}
.editeur_objet input[type="submit"]{width:4em;margin:6px 0 6px 6px;}

/* Petits écrans */
@media all and (max-width: 600px) {
  .contenu {flex-direction: column;}
}