/*
 * CSS PL3
 */
body, div.page, p{position:relative;margin:0;padding:0;}
.contenu{display:flex;flex-wrap:wrap;flex-direction:row;background:#f80;}
.bloc{background:#08f;margin:10px;padding:10px;}
.bloc > div{margin:0;padding:3px;text-align:center;background:#8f8;}
.bloc > div > p, .bloc > div > h1, .bloc > div > h2, .bloc > div > img {margin:0;padding:1px;border: 3px solid transparent;}

/* Mode administration */
.editeur_objet{position:absolute;background:#fff;border:2px solid #888;padding:1px 5px 3px 5px;}
.editeur_objet_fermer{font-family:Sans-Serif;text-align:right;}
.editeur_objet_fermer a{font-weight:bold;color:#888;text-decoration:none;}
.editeur_objet_fermer a:hover{color:#f00;}

/* Petits écrans */
@media all and (max-width: 600px) {
  .contenu {flex-direction: column;}
}