/*
 * CSS PL3 général
 */
 
/* Général *************************************************************************/
* {box-sizing:border-box;margin:0;padding:0;}
body, div.page, p {position:relative;}
.contenu{display:flex;flex-wrap:wrap;flex-direction:row;align-items:flex-start;} /* align-items:stretch => Même hauteur */
.bloc{width:0;}
.bloc > div{padding:3px;text-align:center;}
.bloc > div > div,
.bloc > div > p, 
.bloc > div > h1, .bloc > div > h2,
.bloc > div > h3, .bloc > div > h4,
.bloc > div > h5, .bloc > div > h6{padding:1px;border:3px solid transparent;}
/* Exception pour les images du fait de la classe image_responsive : A SURVEILLER */
.bloc > div > img {box-sizing:content-box;padding:1px;border:3px solid transparent;}

/* Gestion responsive ***************************************************************/

/* Images responsive */
.image_responsive{max-width:100%;height:auto;}

/* Petits écrans */
@media all and (max-width: 600px) {
	.contenu {flex-direction: column;}
	.bloc {width:95%;margin:0 auto;}
}