/*
 * CSS PL3 en mode administration
 */

/* Mode administration objets *******************************************************/

/* Survol des objets */
.admin_survol_objet{cursor:pointer;border-color:#c00!important;}

/* Trumbowyg */
.trumbowyg-editor, .trumbowyg-textarea, .trumbowyg-box{min-height:4em!important;z-index:3;}
.trumbowyg-dropdown{z-index:4;}

/* JQuery UI */
.deplaceur_objet{width:100%;background:#ffb;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border:2px dotted #666;margin:2px auto;}

/* Boutons pour l'ajout d'objets */
.bloc > p.bloc_poignee_ajout{display:none;}
.bloc_poignee_ajout{font-size:16px;text-align:center;padding:4px 8px;word-break: break-all;}
.bloc_poignee_ajout a{background:#333;color:#fff;min-width:30px;padding:8px;margin:2px 3px;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.bloc_poignee_ajout a:hover{background:#a00;color:#fff;}
