/*
 * CSS PL3 en mode administration
 */

/* Mode administration **************************************************************/

/* Barre d'outils */
div.page_mode_admin{margin-top:50px;}
.admin_barre_outils{position:fixed;top:0;left:0;width:100%;background:#000;z-index:999;}
.admin_barre_outils a{display:inline-block;font-size:16px;padding:12px;text-decoration:none;}
.admin_barre_outils a span.admin_item_icone{color:#fff;margin-right:6px;}
.admin_barre_outils a span.admin_item_label{color:#fff;}
.admin_barre_outils a.admin_item_barre_outils:hover{background:#777;text-decoration:none;}
a.admin_item_mode_page_actuel{background:#a00;}
a.admin_item_mode_site_actuel{background:#008;}
a.admin_item_logo{background:#555;margin-right:18px;}

/* Containers */
.page_parametres{padding:6px 12px;}
.page_media{padding:6px 12px;}
.page_xml{font-family:monospace;padding:6px 12px;}

/* Editeur d'objet */
.editeur_objet{
	position:absolute;
	background-color:white;
	margin-top: 20px;
	border:10px solid lightgrey;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:1px 5px 3px 5px;
	z-index:2;
}
.editeur_objet:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 50px 30px;
	border-color: lightgrey transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -30px;
	left: calc(50% - 50px);
}

.editeur_objet_barre_outils{;text-align:right;margin:0;padding:0;margin-top:2px;margin-right:-5px;}
.editeur_objet_barre_outils a{font-weight:bold;color:#444;text-decoration:none;padding:3px 5px;margin-left:2px;}
.editeur_objet_barre_outils a:hover{background:rgba(0,0,0,.1);}
.editeur_objet_titre_attributs, .editeur_objet_titre_xml, .editeur_objet_titre_valeur{font-weight:bold;color:#666;}
.editeur_objet_titre_attributs, .editeur_objet_titre_xml{margin-top:6px;margin-bottom:6px;}
.editeur_objet_titre_valeur{margin-top:0;margin-bottom:6px;}
.editeur_champ_formulaire{margin:3px 0 3px 1em;}
.editeur_champ_formulaire label{display:inline-block;width:70px;font-weight:bold;}
.editeur_objet_valeur, .editeur_objet_ligne_xml{margin-top:3px;margin-bottom:3px;margin-left:1em;}
.editeur_objet input, .editeur_objet select, .editeur_objet textarea{padding:3px;margin-right:3px;}
.editeur_objet select{min-width:8em;}
.editeur_objet input[type="text"]{min-width:15em;}
.editeur_objet input[type="number"]{width:4em;}
.editeur_objet button{
		background-color:inherit;
		font-size: 25px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
		border: none;
}
.editeur_objet button:hover{
	background-color: rgba(0,0,0,.1);
}

/* Animation Shake */
.shake{animation: shake .5s ease-in-out;}
@keyframes shake{
  0% {transform: translateX(0)}
	20% {transform: translateX(-10px)}
	40% {transform: translateX(10px)}
	60% {transform: translateX(-10px)}
	80% {transform: translateX(10px)}
	100% {transform: translateX(0)}
}

.editeur_objet button.soumettre_formulaire, .editeur_objet button.annuler_formulaire {min-width:4em;vertical-align:middle;}
.editeur_objet button.supprimer_formulaire {min-width:4em;vertical-align:middle;}
.editeur_formulaire_icone_bouton{}
.editeur_objet button.soumettre_formulaire span.editeur_formulaire_icone_bouton{color:#0a0;}
.editeur_objet button.annuler_formulaire span.editeur_formulaire_icone_bouton{color:#888;}
.editeur_objet button.supprimer_formulaire span.editeur_formulaire_icone_bouton{color:#a00;}

/* Gestion responsive ***************************************************************/

/* Petits écrans */
@media all and (max-width: 540px) {
	div.page_mode_admin{margin-top:114px;}
	.admin_barre_outils{text-align:center;}
	.admin_barre_outils a span.admin_item_icone{font-size:26px;margin-left:3px;margin-right:3px;}
	.admin_barre_outils a span.admin_item_label{display:none;}
	a.admin_item_logo{width:100%;padding:6px;}
	a.admin_item_logo span.admin_item_icone{font-size:18px!important;}
}
