/*
 * CSS PL3 Objets
 */
.bloc > div:not(.container_image){padding:3px;text-align:center;}

/* Saut */
.container_saut .saut{font-size:1em;}

/* Images */
.container_image{padding:0;overflow:hidden;text-align:center;}
.container_image a{text-decoration:none;}

/* Carrousel */
.bx-wrapper ul{margin:0;}
.bx-wrapper img{margin:0 auto;}

/* Video */
.container_video {margin: auto;position:relative;width:500px; /* arbitraire, a revoir */}
.container_video .video_admin_overlay {position:absolute;width:500px; /* arbitraire, a revoir */ height:100%;top:0; left:0;}
