/*
 * CSS PL3 en mode administration
 */

/* Mode administration site général ************************************************/

.container_vignettes_page{margin:10px;}
.vignette_page, .vignette_page_active {display:inline-block;margin:10px;border-radius:5px;width:90%;max-width:250px;vertical-align:top;}
.vignette_page{border:1px solid #008;}
.vignette_page_active{border:1px solid #a00;}
.vignette_page h2, .vignette_page_active h2, .vignette_page_nouvelle h2{font-size:18px;font-weight:bold;text-align:center;color:#fff;vertical-align:top;padding:4px 0;}
.vignette_page h2{background:#008;}
.vignette_page_active h2{background:#a00;}
.vignette_page_nouvelle {display:block;margin:10px;border:1px solid #666;border-radius:5px;width:90%;max-width:520px;vertical-align:top;}
.vignette_page_nouvelle h2{background:#666;}
.vignette_page_info{padding:10px 6px 4px 6px;vertical-align:top;}
.vignette_page_info p{font-size:14px;font-weight:normal;margin-bottom:6px;}
.vignette_icones{text-align:center;margin:6px auto 0 auto;}
.vignette_icones a{color:#000;font-size:30px;margin:3px 12px 0 12px;}
.vignette_icones a:hover{color:#777;}
input, label{padding:2px;margin:0 5px;}
